<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Tables</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="shortcut icon" href="/public/icon/Admin2.svg">
  <script>
    let result = '<%- result %>';
    result = JSON.parse(result);
    // console.log(result);
  </script>
  <style>
  
  </style>
</head>
<body>
  <header>
    
  </header>

  <main>
    <div id="buttons"></div>
    
    <form id="add">
      <div name="file" id="file" class="dragdrop">Drag And Drop Latex File Here</div>
      <button>Submit Latex File</button>
      <button id="reset">Reset</button>
    </form>
    <div id="table"></div>
  </main>

  <footer>
    
  </footer>

  <script src="/public/js/buttons.js"></script>
  <script>
    makeTable(result);
  </script>
  <script>
    const baseUrl = 'http://localhost:3000';
    const herokuUrl = 'https://fanniherfei.herokuapp.com/'

    const url = baseUrl + '/admin/rest/questions/add';

    let addQuestions = document.getElementById('add');
    let file = document.getElementById('file');
    let reset = document.getElementById('reset');

    let formData = new FormData();

    let printForm = () => {
      formData.forEach((value,key) => {
        console.log(key);
        console.log(value);
        // formValues[key] = value;
        // formValues.push({ [key] : value})
      });
    }


    let upload = function (files) {
      // console.log(files);
      formData = new FormData();

      for (i = 0; i < files.length; i++) {
          // let name = files[i].name;
          formData.append('questions', files[i]);
      }
    };

    file.ondrop = function (e) {
        e.preventDefault();
        upload(e.dataTransfer.files);
        //console.log(e.dataTransfer.files);
        return false;
    };

    file.ondragover = function () {
      file.classList.add('green');
      return false;
    };

    file.ondragleave = function () {
      file.classList.remove('green');
      return false;
    };

    addQuestions.addEventListener('submit' , async (e) => {
      e.preventDefault();
      printForm();

      let result = await fetch(url, {
        method: 'POST',
        // headers: {
        //   'Content-Type': 'multipart/form-data',
        // },
        body: formData
      })

      console.log(result.data);
    })


    reset.addEventListener('click' , () => {
      formData = new FormData();
      file.classList.remove('green');

      console.log('Reset Form ...')
    })

    
  </script>
</body>
</html>