<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Tables</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="shortcut icon" href="/public/icon/Admin2.svg">
  <script>
    let result = '<%- result %>';
    result = JSON.parse(result);
    // console.log(result);
  </script>
  
</head>
<body>
  <header>
    
  </header>

  <main>
    <div id="buttons"></div>
    <div>
      <form id="add">
        <input 
        type="text" 
        placeholder="standard id"
        name="standard_id" 
        id="standard_id">
        <input 
        type="text" 
        placeholder="season name"
        name="season_name" 
        id="season_name">
        <button>submit season</button>
      </form>
    </div>
    <div id="table"></div>
  </main>

  <footer>
    
  </footer>

  <script src="/public/js/buttons.js"></script>
  <script>
    makeTable(result);
  </script>
  <script src="/public/js/seasons/handleSeasonAddForm.js"></script>
</body>
</html>