<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Tables</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="shortcut icon" href="/public/icon/Admin2.svg">
  <script>
    let result = '<%- result %>';
    result = JSON.parse(result);
    // console.log(result);
  </script>
  
</head>
<body>
  <header>
    
  </header>

  <main>
    <div id="buttons"></div>
    <div>
      <form id="add">
        <input 
        type="text" 
        placeholder="standard name"
        name="standard_name" 
        id="standard_name">
        <button>submit standard</button>
      </form>
    </div>

    <div>
      <form id="edit">
        <input 
        type="text" 
        placeholder="id"
        name="id" 
        id="id">
        
        <input
        type="text"
        placeholder="standard_name"
        name="standard_name_edit"
        id="standard_name">

        <input
        type="text"
        placeholder="number_of_seasons"
        name="number_of_seasons"
        id="number_of_seasons">

        <button>edit standard</button>
      </form>
    </div>

    <div id="table"></div>
  </main>

  <footer>
    
  </footer>

  <script src="/public/js/buttons.js"></script>
  <script>
    makeTable(result);
  </script>
  <script src="/public/js/standards/handleStandardAddForm.js"></script>
  <script>

  </script>
</body>
</html>